html,body{
    overflow-x: hidden;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0% 2%;
}

.bg-primary {
    background-color: #89808a !important;
}

body {
  background-color: #423d41;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1340px !important;
}

.card-body {
    padding: 0.75rem;
    background-color: #8b8c95;
}

.nav-tabs .nav-link {
    color: #e0e1e6 !important;
    border:none !important;
    cursor: pointer;
    border-radius: 20px;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom: none;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    background-color: #c54439;
    border:none;

}


@media (max-width: 768px) {
    .col-sm-12 {
        padding-bottom: 20px;
    }

    .card-padding {
        padding-bottom: 4vh;
    }

}

@media (min-width: 768px) {
    .feature-row {
        padding-bottom: 4vh;
    }

    

}




.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #c54439 !important;
    border:none;
}

.custom-select {
    background-color: #f0890a;
    color: #e0e1e6;
}

.nav-tabs .nav-item {
    margin-inline: 5px;
}

.mb-5 {
    margin-bottom: 0rem !important;
}

.cover {
    
    text-align: center;
    margin: auto;
}


.footer {
    text-align: center;
    background-color: #423d41;
    color: rgba(190, 190, 190, 0.75);
    margin: 2rem 0rem;
}


.churn-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    height: 42vh;
}

.btn-predict {
    background-color: #29f02c;
}







.result-card {
    background-color: #070707;
    text-align: center;
}





.form-control {
    background-color: #f0890a;
    color: #e0e1e6;
}

/* ._dash-loading {
    text-indent: -9999em;
  } */


.hub-logo {
    display:inline;
    width: 70px;
    position: absolute;
    top: 8px;
    right: 300px;
    /* margin-right: 500px; */
    padding-bottom: 2px;
}

a:hover {
    text-decoration: none;
}